.error {
  color: red;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 10px;
}

.smallContainer {
  max-width: 450px;
  margin: auto;
  background-color: #2f2f2f;
}

.mediumContainer {
  max-width: 800px;
  margin: auto;
  overflow-wrap: break-word;
}

.dark {
  color: #fff !important;
  background-color: #2f2f2f !important
}

.c-386ecf {
  background-color: #386ecf !important;
  border-color: #386ecf !important;
  color: #fff !important;
}

.c-386ecf:hover {
  background-color: #2964d1 !important;
}

.boardWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80vh;
  margin: 0 auto;
  position: relative;
}

.promotionPrompt {
  position: absolute;
  width: 12.5%;
  height: 50%;
  z-index: 10;
}

.resultContainer {
  position: absolute !important;
  z-index: 11;
}